<section class="new-training" fxLayout fxLayoutAlign="center">
	<mat-card fxFlex.sm="100%" fxFlex="40rem">
		<mat-card-title fxLayoutAlign="center">Start a training!</mat-card-title>

		<form #f="ngForm" (ngSubmit)="startTraining(f)">

			<mat-card-content fxLayoutAlign="center">

				<mat-form-field *ngIf="(!(isLoading$ | async) && exercises$ | async)" appearance="fill">
					<mat-label>Select</mat-label>
					<mat-select ngModel name="selectedExercise">
						<mat-option *ngFor="let exercise of exercises$ | async" value="{{ exercise.id }}">{{ exercise.name }}</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-spinner *ngIf="(isLoading$ | async)"></mat-spinner>
			</mat-card-content>

			<mat-card-actions *ngIf="!(isLoading$ | async)" fxLayoutAlign="center">
				<button *ngIf="!(exercises$ | async)" type="button" mat-raised-button color="primary" (click)="fetchExercises()">Fetch again</button>
				<button *ngIf="exercises$ | async" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Start</button>
			</mat-card-actions>
		</form>
	</mat-card>
</section>
