<mat-toolbar color="primary">
	<button fxHide.gt-xs mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="onMenuToggle()">
		<mat-icon>menu</mat-icon>
	</button>

	<div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
		<ul fxLayout fxLayoutGap="1rem" class="navigation-items">
			<li *ngIf="!(isLogged$ | async)"><a routerLink="/signup">Sign up</a></li>
			<li *ngIf="!(isLogged$ | async)"><a routerLink="/login">Login</a></li>
			<li *ngIf="isLogged$ | async"><a routerLink="/training">Training</a></li>
			<li *ngIf="isLogged$ | async" (click)="onLogout()"><a>Logout</a></li>
		</ul>
	</div>

</mat-toolbar>
